html, body, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* CSS custom properties */
:root {
  --sidebar-width: 480px;
}

.app-container {
  width: 100%;
  height: 100%;
}

.map-container {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - var(--sidebar-width));
  height: 100%;
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100%;
  overflow-y: auto;
}
